
<div class="card card-primary col-md-10 offset-md-1">
    <div class="card-header col-md-12">
      <h3 class="card-title">Añadir tareas</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="POST" action="/tareasguardado">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de tarea</label>
          <input type="text" name="nombre" class="form-control" id="exampleInputEmail1" >
        </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Horas de tarea</label>
            <input type="number" name="horas" class="form-control" id="exampleInputEmail3"  title="Ingrese un número decimal válido" min="0">
        </div>


        <label for="inputStatus">Empleado</label>
        <select name="id_empleado" id="inputStatus" class="form-control custom-select">

<%resultados.forEach((empleados)=>{%>
            <option value="<%=empleados.id%>"><%=empleados.nombre%></option>
<%})%>
</select>

<div class="card-footer">
  <button type="submit" class="btn btn-primary">Guardar</button>
</div>
</form>

      </div>